{% extends "_layouts/default.njk" %}
{% block body %}

<!-- Welcom + subtitle row -->
<div class="row center">
  <div class="col s12">
    <h1>Hello, {{ user.full_name }}</h1>
    <h4>Here are your submitted plugins</h4>
  </div>
</div>

<!-- Table row -->
<div class="row center">
  <div class="col s12">
    <table class="highlight">
      <thead>
        <tr>
          <th>Plugin Name</th>
          <th>Authors</th>
          <th>Year</th>
          <th>Main category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <td>iStar4Safety</td>
        <td>Ribeiro, Monyk</td>
        <td>03/07/2019</td>
        <td>Safety</td> -->
        {% for plugin in plugins %}
        <tr>
          <td>{{plugin.name}}</td>
          <td>Ribeiro, Monyk</td>
          <td>{{plugin.created_at}}</td>
          <td>{{plugin.category}}</td>
          <td>
            <a href=''>Edit</a>
            <a href=''> Delete</a>

          </td>
          <!-- <td>iStar4Safety</td>
          <td>Ribeiro, Monyk</td>
          <td>03/07/2019</td>
          <td>Safety</td>
          <td>
            <a href=''>Edit</a>
            <a href=''> Delete</a>
          </td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Logout row -->
<div class="row center">
  <div class="col s12">
    <a href="/app/logout" class="waves-effect waves-light btn-small"><i
        class="material-icons right">exit_to_app</i>Logout</a>
  </div>
</div>
{% endblock %}
