{% extends "_layouts/default.njk" %}
{% block body %}

<!-- Welcom + subtitle row -->
<div class="row center">
  <div class="col s12">
    <h1>Hello, {{ user.full_name }}</h1>
    <h4>Here are your submitted plugins</h4>
  </div>
</div>

<!-- Table row -->
<div class="row center">
  <div class="col s12">
    <table class="highlight">
      <thead>
        <tr>
          <th>Plugin Name</th>
          <th>Authors</th>
          <th>Year</th>
          <th>Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Safety Extension</td>
          <td>Ribeiro, Monyk; Castro Jaelson; Pimentel, João</td>
          <td>2019</td>
          <td>Safety</td>
        </tr>
        <tr>
          <td>Variability for Mobile Information Systems</td>
          <td>Ali, Raian; Dalpiaz, Fabiano; Giorgini, Paolo; Castro Jaelson; Pimentel, João</td>
          <td>2008</td>
          <td>Mobile Systems, Variability</td>
        </tr>
        <tr>
          <td>GODA</td>
          <td>Mendonça, D. F., Rodrigues, G. N., Ali, R., Alves, V., Baresi, L; Pimentel, João</td>
          <td>2016</td>
          <td>Context, Dependability</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Logout row -->
<div class="row center">
  <div class="col s12">
    <a href="/app/logout" class="waves-effect waves-light btn-small"><i
        class="material-icons right">exit_to_app</i>Logout</a>
  </div>
</div>
{% endblock %}
