{% extends "_layouts/default.njk" %}
{%block body %}
{# <h1>Hello World</h1> #}
<div class="row center">
  <div class="col s12">
    <div class="card teal lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Continue filling the submission form</span>
        <div class="row">
          <form class="col s12" action="/app/submit" method="POST" enctype="multipart/form-data">
            <!-- NAME INPUT ROW -->
            <div class="row">
              <div class="input-field col s12">
                <input disabled name='plugin_name' placeholder="{{plugin.name}}" id="plugin_name" type="text" class="validate" />
                <label for="plugin_name">Plugin name</label>
              </div>
            </div>
            <!-- Keywords -->
            <div class="row">
              <div class="input-field col s12">
                <input placeholder='key2, key2, key3...' name='keywords' id="keywords" type="text" class="validate" />
                <label for="keywords">Keywords</label>
                <span class="helper-text" data-error="wrong" data-success="right">Keys separated by commas</span>
              </div>
            </div>
            <!-- Author's user emails -->
            <div class="row">
              <div class="input-field col s12">
                <input name='authors_emails' placeholder="email1, email2, ..." id="authors_emails" type="text"
                  class="validate" />
                <label for="authors_users">Author's user emails</label>
                <span class="helper-text" data-error="wrong" data-success="right">
                  List of emails that the author's used to register in our tool. If an author don't have an account yet,
                  <a href='/signup'>click here to register</a>.
                </span>
              </div>
            </div>
            <!-- Short description -->
            <div class="row">
              <div class="input-field col s12">
                <input name='short_description' id="short_description" type="text" class="validate" />
                <label for="short_description">Short description</label>
                <span class="helper-text" data-error="wrong" data-success="right">Your plugin in one sentence...</span>
              </div>
            </div>
            <!-- Long description -->
            <div class="row">
              <!-- <form class="col s12"> -->
              <!-- <div class="row"> -->
              <div class="input-field col s12">
                <textarea name='long_description' id="long_description" class="materialize-textarea"></textarea>
                <label for="textarea1">Long description</label>
                <span class="helper-text" data-error="wrong" data-success="right">Here you can explain a little bit more
                  about your plugin. Feel free to write, the text input will expand as you need.</span>
              </div>
              <!-- </div> -->
              <!-- </form> -->
            </div>
            <!-- References -->
            <div class="row">
              <div class="input-field col s12">
                <input name='references' placeholder="[reference1][reference2]..." id="references" type="text"
                  class="validate" />
                <label for="references">References</label>
                <span class="helper-text" data-error="wrong" data-success="right">References separated by
                  brackets</span>
              </div>
            </div>
            <!-- Homepage link -->
            <div class="row">
              <div class="input-field col s12">
                <input name='link_homepage' id="link_homepage" type="text" class="validate" />
                <label for="references">Homepage link</label>
              </div>
            </div>
            <!-- File submission -->
            {% include "submission/file_submission.njk" %}

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit plugin
              <i class="material-icons right">send</i>
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
