<div class="row">
  <div class="input-field col s12">
    <label for="plugin_file">
      Plugin package upload:
      <input id="plugin_file" name="plugin_file" type="file" />
    </label>
  </div>
</div>
