<div class="row">
  <div class="input-field col s12">
    <label for="pluginPackage">
      Plugin package upload:
      <input id="pluginPackage" name="pluginPackage" type="file" />
    </label>
  </div>
</div>
