<label for="category">Category *</label>

<div class="row" id="category">

  <div class="input-field col s12">
    <select name="category" class="form-control" style="display: block;">
      <!-- <select> -->
      <option value="0">Filter By *</option>
      <optgroup label="Application Area">
        <option value="70" title="-">Adaptative System</option>
        <option value="71" title="-">Agents</option>
        <option value="103" title="-">Algoritm or mathematical approach</option>
        <option value="72" title="-">Aspects</option>
        <option value="164" title="">Assumptions</option>
        <option value="73" title="-">Autonomic Systems</option>
        <option value="75" title="-">Collaborative Systems</option>
        <option value="77" title="-">Commitments</option>
        <option value="78" title="-">Compliance</option>
        <option value="74" title="-">Conflicts</option>
        <option value="76" title="-">Context</option>
        <option value="79" title="-">Database/Data warehouse</option>
        <option value="166" title="">Dependability</option>
        <option value="167" title="">Derivation of Statechart</option>
        <option value="163" title="">Desiree</option>
        <option value="80" title="-">Evaluation</option>
        <option value="168" title="">Gamification</option>
        <option value="81" title="-">Information to derive iStar to Statechart</option>
        <option value="162" title="">Intelligent Environments</option>
        <option value="82" title="-">Law</option>
        <option value="83" title="-">Measurable Requirements</option>
        <option value="84" title="-">Mobile Systems</option>
        <option value="158" title="">Multi-Objective Risk</option>
        <option value="85" title="-">Norms</option>
        <option value="86" title="-">Organization/Bussiness Process</option>
        <option value="87" title="-">Performance Features</option>
        <option value="88" title="-">Preferences</option>
        <option value="89" title="-">Quality Requirements</option>
        <option value="91" title="-">Risks</option>
        <option value="90" title="-">Robotic Systems</option>
        <option value="92" title="-">Safety</option>
        <option value="93" title="-">Scenario</option>
        <option value="94" title="-">Security/Privacy/Vulnerability</option>
        <option value="161" title="">Services</option>
        <option value="95" title="-">Software Product Lines</option>
        <option value="96" title="-">Sustainability</option>
        <option value="97" title="-">Time Features</option>
        <option value="98" title="-">Trust</option>
        <option value="99" title="-">Variability</option>
        <option value="100" title="-">Web Systems</option>
      </optgroup>
      <optgroup label="Compatibility between metamodel and concrete syntax of extensions">
        <option value="116" title="-">Compatible</option>
        <option value="159" title="">Incompatible (both)</option>
        <option value="117" title="-">Representation in abstract syntax without representation in concrete
          syntax (Not Compatible)</option>
        <option value="118" title="-">Representation in concrete syntax without representation in abstract
          syntax (Not Compatible)</option>
      </optgroup>
      <optgroup label="Concepts Definition">
        <option value="105" title="-">Not Present Definition</option>
        <option value="104" title="-">Present Definition</option>
        <option value="106" title="-">Present Definition Partially</option>
      </optgroup>
      <optgroup label="Is there tool support">
        <option value="121" title="-">No</option>
        <option value="120" title="-">Yes</option>
      </optgroup>
      <optgroup label="Kind of Construction Proposed">
        <option value="154" title="-">Nodes and Links</option>
        <option value="153" title="-">Only Links</option>
        <option value="152" title="-">Only Nodes</option>
      </optgroup>
      <optgroup label="Kind of Validation">
        <option value="66" title="-">Case Study</option>
        <option value="68" title="-">Example of use</option>
        <option value="67" title="-">Experiment</option>
        <option value="65" title="-">Illustration</option>
        <option value="69" title="-">Not Presented Evaluation</option>
      </optgroup>
      <optgroup label="Level of Extension">
        <option value="108" title="-">Abstract</option>
        <option value="157" title="">Both</option>
        <option value="107" title="-">Concrete</option>
      </optgroup>
      <optgroup label="Metamodel">
      </optgroup>
      <optgroup label="Metamodel Completeness">
        <option value="160" title="">Absence of Links</option>
        <option value="165" title="">Absence of Nodes</option>
        <option value="156" title="">absence of nodes and links</option>
        <option value="110" title="-">Complete</option>
        <option value="111" title="-">Missing entities</option>
        <option value="113" title="-">Missing entities and relationships</option>
        <option value="112" title="-">Missing relationships</option>
      </optgroup>
      <optgroup label="Reasoning Approach">
        <option value="151" title="Algorithm proposed to realize the reasoning in iStar models">Algorithm
        </option>
        <option value="102" title="-">Algoritm and Logic-based</option>
        <option value="101" title="-">Logic-based</option>
        <option value="155" title="">mathematical function/formula</option>
      </optgroup>
      <optgroup label="Static Semantic">
        <option value="114" title="-">Define static semantic</option>
        <option value="115" title="-">Not Define static semantic</option>
      </optgroup>
      <!-- </select> -->
    </select>

  </div>
</div>

