{% extends "_layouts/default.njk" %}
{% block body %}

<!-- Welcom + subtitle row -->
<div class="row center">
  <div class="col s12">
    <h1>Your plugin was submitted with success!</h1>
  </div>
</div>

<!-- Logout row -->
<div class="row center">
  <div class="col s12">
    <a href="/app/dashboard" class="waves-effect waves-light btn-small"><i
        class="material-icons right">arrow_back</i>Back to dashboard</a>
  </div>
</div>
{% endblock %}
